*.DS_Store
*.bak
*.orig
*.key
/.CFUserTextEncoding
/.Trash
/.Xauthority
/.account
/.ant
/.appletviewer
/.aws.properties
/.bash_history
/.bundle
/.cache
/.certs
/.cocoapods
/.cups
/.dbeaver
/.dropbox
/.ec2
/.emacs-places
/.emacs.bak
/.emacs.d
/.exercism
/.exercism.go
/.erlang.cookie
/.eshell
/.fontconfig
/.fonts
/.freemind
/.gdb_history
/.gem
/.gnupg
/.groovy
/.heroku
/.history
/.irb-history
/.irb_history
/.ivy2
/.lein
/.lesshst
/.localized
/.m2
/.macports
/.mysql_history
/.MQJExplorer
/.nbprofiler
/.netbeans
/.netrc
/.node-gyp
/.npm
/.offlineimap
/.phantomjs
/.pry_history
/.psql_history
/.rbenv
/.rdebug_hist
/.rediscli_history
/.rnd
/.rvm
/.scala_history
/.serverauth.*
/.sh_history
/.sonar
/.sqlite_history
/.ssh
/.ssl
/.swt
/.subversion
/.vim-tmp
/.viminfo
/.vimprojects
/.vimgolf
/.vimrc.backup
/.vimrc.old
/.vimtags
/.vsql_history
/.wine
/.wireshark
/.wireshark-etc
/.work_profile
/.work_aliases
/.zcompdump
/.zsh_history
/Applications
/Desktop
/Development
/Documents
/Downloads
/Dropbox
/Google Drive
/Library/*
/Movies
/Music
/Pictures
/Public
/VirtualBox VMs
/Sites
/bin
/work
